{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
<title>WDQMS page for {{country.name}}</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="description" content="2 Column CSS Demo - Equal Height Columns with Cross-Browser CSS" />
	<meta name="keywords" content="2 Column CSS Demo - Equal Height Columns with Cross-Browser CSS" />
	<meta name="robots" content="index, follow" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<style type="text/css">
 .mapbox{
	width:300px;
	height:300px;
	margin:30px;
	margin-top:0px;
  }
</style>

	<style media="screen" type="text/css">

  .circle {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
	  display: inline-block;
	  white-space: nowrap;
	margin-left:30px;
	margin-right: 10px;
	}

	#popup {
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0px 0px 25px 5px #999;
	color: #111;
	display: none;
	min-width: 550px;
	height: 400px;
	padding:10px;
  }
  
    .button.b-close, .button.bClose {
    border-radius: 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0px 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
  }

.button > span {
    font-size: 84%;
}

.button {
    background-color: #2B91AF;
    border-radius: 10px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}


	/* <!-- */
body {
	margin:0;
	padding:0;
}
#header h1,
#header h2,
#header p {
	margin-left:2%;
	padding-right:2%;
}
#active2 #tab2,
#active3 #tab3,
#active4 #tab4,
#active5 #tab5 {
	font-weight:bold;
	text-decoration:none;
	color:#000;
}
#footer {
	clear:both;
	float:left;
	width:100%;
}
#footer p {
	margin-left:2%;
	padding-right:2%;
}

/* Start of Column CSS */
#container2 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	/* background:#ffa7a7;  column 2 background colour */
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:30%;
	/* background:#fff689;  column 1 background colour */
}
#col1 {
	float:left;
	width:66%;
	position:relative;
	left:32%;
	overflow:hidden;
}
#col2 {
	float:left;
	width:26%;
	position:relative;
	left:36%;
	overflow:hidden;
}
/* --> */
    </style>
</head>
<body id="active2">

  <script src="{% static "wdqms/ol3/ol.js" %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static "wdqms/jquery-ui.min.css" %}"/ >
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/ >
  
  
  <script src="{% static "wdqms/jquery-3.1.0.min.js" %}"></script>
  <script src="{% static "wdqms/jquery-ui.min.js" %}"></script>
  <script src="{% static "wdqms/jquery.bpopup.min.js" %}"></script>	
  
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

<!-- Additional files for the Highslide popup effect -->
  <script src="https://www.highcharts.com/samples/static/highslide-full.min.js"></script>
  <script src="https://www.highcharts.com/samples/static/highslide.config.js" charset="utf-8"></script>

<div id="header">
	<h1>WDQMS page for <select id="countryselect">
	{% for c in countries %}
		 <option {% if c.code == country.code  %} selected='selected' {% endif %} value='{{c.code}}'>{{c.name}}</option>
	{% endfor %}
	</select></h1>
</div>
<div id="container2">
	<div id="container1">
		<div id="col1">
			<!-- Column one start -->
		<div id="selectors" style="padding:10px; padding-top:0px; padding-bottom:20px;display: inline-block;">
		<span>
		<select id="nwpcenter">
		<option>JMA</option>
		<option>ECMWF</option>
		<option>NCEP</option>
		<option>DWD</option>
		</select>
		</span>
		<span><input type="text" id="datepicker" value="{{ yesterday | date:"Y/m/d" }}"></input></span>
		</div>
		<div style="display: inline-block;">Daily results of NWP monitoring. Shows number of pressure reports that arrived at the selected center.</div>
			<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Silent</a></li>
    <li><a href="#tabs-2">Availability issues</a></li>
    <li><a href="#tabs-4">Normal</a></li>
    <li style="margin-left:20px;"><a href="#tabs-3">Quality issues</a></li>
  </ul>
  
  
  {% for tab in tabs %}
  
  <div id="tabs-{{ forloop.counter }}">
  
  <table class="display stationtable" id="stationtable-{{tab}}" cellspacing="0" width="100%" >
        <thead>
            <tr>
                <th>Name</th>
                <th>IndexNbr</th>
                <th>Expected</th>
                <th>Received</th>
				<th>Rejected</th>
                <th>Blacklisted</th>
				<th>Details</th>

            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>IndexNbr</th>
                <th>Expected</th>
                <th>Received</th>
				<th>Rejected</th>
                <th>Blacklisted</th>
				<th>Details</th>

            </tr>
        </tfoot>
		
	</table>
  
  </div>
  {% endfor %}
  
</div>

			<!-- Column one end -->
		</div>
		<div id="col2">
			<!-- Column two start -->
			<div class="mapbox" id="map"></div>
			
			<div><div class="circle" style="background: red;"></div>Availability issues (&lt;30%)</div>
			<div><div class="circle" style="background: #ff9900;"></div>Availability issues (>=30%)</div>
			<div><div class="circle" style="background: black;"></div>Silent</div>
			<div><div class="circle" style="background: green;"></div>normal (>= 80%)</div>
			<!-- Column two end -->
		</div>
	</div>
</div>
<div id="footer"> <p>c({% now "Y" %}) WMO<P></div>

<script>

var obslayer;
var map;
var dateinfo ;

function updateCalendar(initial) {

	center = $("#nwpcenter").val();
	jsonurl = 'country_cal?center=' + center  ;
	
  
	$.getJSON(jsonurl, function (data) {

	dateinfo = data ;

	console.log(data);

		if (initial) {
		    	jQuery('#datepicker').datepicker({
			  dateFormat: "yy/mm/dd",
		    	  defaultDate: dateinfo.max,
			  beforeShowDay: function(date){
                                var string = jQuery.datepicker.formatDate('yy/mm/dd', date);
                                return [ !(string in dateinfo.nodata) ]
                          },
		    	  minDate: dateinfo.min,
		    	  maxDate: dateinfo.max,
		    	  onSelect: function() {  
		    		initTables(); 
		    		updateMap();
		    	 }
		    	});
		}

		options = {
			minDate : data.min,
			maxDate : data.max,
			disabledDates : data.nodata,
			startDate : data.max
		};

		jQuery('#datepicker').datepicker(options);
		
	});



}

function updateMap(initial) {
	
	var date = new Date( $('#datepicker').val()  );

	year =  date.getFullYear();
	month = date.getMonth()+1;
	day = date.getDate();
	center = $("#nwpcenter").val();
	
	viewparam = 'year:' + year + ";month:"+month+";day:"+day+";center:"+center+";countrycode:{{ country.code }}" ;
	//console.log(viewparam);

	if (initial === true ) {
		
		obslayer =  new ol.layer.Image({
			source: new ol.source.ImageWMS({
			  ratio: 1,
			  url: 'http://128.65.196.37:80/geoserver/wdqms/wms',
			  params: {'FORMAT': 'image/png',
					   'VERSION': '1.1.1',  
					LAYERS: 'wdqms:bycoountry',
					STYLES: '',
					VIEWPARAMS: viewparam,
			  }
			  
			})
		}) ;
		
		map = new ol.Map({
			target: 'map',
			layers: [
				new ol.layer.Tile({
					  source: new ol.source.XYZ({
						url: 'https://api.mapbox.com/styles/v1/kurt-hectic/cj488lfn91qxh2rrz0nghg0y3/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoia3VydC1oZWN0aWMiLCJhIjoiY2loNGtsNzc0MHpvdHgxbTBxejQzOGVpZiJ9.NiOdnMqDcZKeR6Oxo7tWmw'
					  })
					}),
					obslayer,	
			],
			/*
			view: new ol.View({
						   center: ol.proj.transform([32.290275, 1.373333], 'EPSG:4326', 'EPSG:3857'),
						   zoom: 6
			}),
			*/
			controls: ol.control.defaults({
			  attributionOptions: {
				collapsible: false
			  }
			})
		});
		
		var boundingExtent = ol.extent.boundingExtent( [[ {{country.bounding_box.minlat}},{{country.bounding_box.minlon}} ],[ {{country.bounding_box.maxlat}},{{country.bounding_box.maxlon}} ]]  );  
		
		boundingExtent = ol.proj.transformExtent(boundingExtent, ol.proj.get('EPSG:4326'), ol.proj.get('EPSG:3857'));
		map.getView().fit(boundingExtent, map.getSize()); 

		
	} else {
		params = obslayer.getSource().getParams();
		//console.log( params );
		params.VIEWPARAMS = viewparam;
		obslayer.getSource().changed();
	}
	
	
}

function doPopup(event) {
	
	event.preventDefault();

	var target = event.target || event.srcElement;
	url = target.href;
	
   $("#popupbody").empty();

    center = $("#nwpcenter").val();
	indexnbr = url.substr( url.lastIndexOf('/') + 1 );
  
	jsonurl = 'data?center=' + center + '&indexnbr=' + indexnbr + '&' + 'callback=?' ;
	
	console.log(jsonurl);
  
	$.getJSON(jsonurl, function (data) {

	console.log(data);
	
        var chart = $('#popupbody').highcharts({
            
			chart : {
				zoomType: 'x',
				panning: true,
				panKey: 'shift'
			},
			data: {
                csv: data.data
            },
            title: {
                text: 'Nr. Received vs Nr. Expected <a href="https://oscar.wmo.int/surface/index.html#/search/station/stationReportDetails/'+ data.wigosid +' target="_blank">@'+ data.stationname + '</a> [' + center + ']' ,
			},
		  useHTML: true,

			
			subtitle: {
				text: 'Zoom by selecting a range. Press shift key to drag.',
			},

            xAxis: {
				type: 'datetime',
                tickInterval: 24 * 3600 * 1000, // one day
                tickWidth: 0,
                gridLineWidth: 1,
                labels: {
                    align: 'left',
                    x: 3,
                    y: 40
                }
            },

            yAxis: [{ // left y axis
                title: {
                    text: null
                },
                labels: {
                    align: 'left',
                    x: 3,
                    y: 16,
                    format: '{value:.,0f}'
                },
                showFirstLabel: false
            }, { // right y axis
                opposite: true,
                title: {
                    text: "nr. imports"
                },
                labels: {
                    align: 'right',
                    x: -3,
                    y: 16,
                    format: '{value:.,0f}'
                },
		min:0,
		max:4,
		tickInterval: 1
            }],

            legend: {
                align: 'left',
                verticalAlign: 'top',
                y: 60,
                floating: true,
                borderWidth: 0
            },

            tooltip: {
                shared: true,
                crosshairs: true
            },

            series: [{
                name: 'Nr Received',
                lineWidth: 4,
                marker: {
                    radius: 4
                },
		color: 'green',
		yAxis: 0
            }, {
                name: 'Nr Expected',
		color: "blue",
		yAxis: 0
            },
			{
                name: 'Nr Rejected',
		color: "red",
		yAxis: 0
            },{
                name: 'Nr Blacklisted',
		color: "black",
		yAxis: 0
            }, {
		name: 'datasets imported',
		color: "red",
		type: 'column',
		yAxis: 1
		}
			]
        });
		
	var d = new Date( $('#datepicker').val()  );
	console.log(chart);
	chart.highcharts().xAxis[0].setExtremes(Date.UTC(d.getFullYear(), d.getMonth(), d.getDate() - 30), Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()));
	chart.highcharts().showResetZoom();
	});
	console.log("ned");


  
   $('#popup').bPopup({
		follow: [false, false], //x, y
		position: [150, 100] //x, y
   });
	
	return false;
}

function initTables(initial) {
	
	var date = new Date( $('#datepicker').val()  );

	year =  date.getFullYear();
	month = date.getMonth()+1;
	day = date.getDate();

	
	paramdata = {} ;
    paramdata["center"] = $("#nwpcenter").val();
	paramdata["year"] = year;
	paramdata["month"] = month;
	paramdata["day"] = day;
	
	{% for tab in tabs %}
	
	ajaxurl = "country_dt?countrycode={{country.code}}&year=" + year + "&month=" + month + "&day=" + day + "&center=" + paramdata["center"] + "&type={{tab}}";

	if (initial === true ) {
		$('#stationtable-{{tab}}').DataTable( {
			"ajax" : ajaxurl,
			 "columns":  [
				{ "data": "name" },
				{ "data": "indexnbr" },
				{ "data": "nrexp" ,
				  "defaultContent" : "0"
				},
				{ "data": "nrrec",
				"defaultContent" : "0"
				}, 
				{ "data": "nrrej" ,
				  "defaultContent" : "0"
				},
				{ "data": "nrbla",
				"defaultContent" : "0"
				}, 

				{
				"targets": 0,
				"data": "indexnbr2",
					"render": function ( data, type, full, meta ) {
					  return '<a onclick="javascript:doPopup(event)" href="stationdetails/'+data+'">Details</a>';
					}
				}
			],
			"processing": true
		} );
	
	} else {
		$('#stationtable-{{tab}}').DataTable().ajax.url(ajaxurl).load();
	}
	
	{% endfor %}
	
		
}

</script>


  <script>
  $( function() {
    $( "#tabs" ).tabs();
	
	$('#nwpcenter').on('change', function() {
        initTables();
		updateMap();
		updateCalendar(false);	
	});

	$('#countryselect').change(function() {
		window.location =  "{{request.path}}?cc="+$(this).val();
	});
	
		  

	updateCalendar(true);	
	
	initTables(true);
	updateMap(true);
	
	setTimeout(function(){
	   window.location.reload(1);
	}, 12*60*60*1000); //refresh every 12h
	
  } );
  </script>

<script type="text/javascript">
</script>

  <div style="display:none;" id="popup"><span class="button b-close"><span>X</span></span>
	<div id="popupbody"></div>
	
    </div>

</body>
</html>

