<!DOCTYPE html>
{% load static %}
<html>
  <head>
  <title>WIGOS Data Quality Monitoring System - dashboard for {{country.name}}</title>
  <meta charset="utf-8">
  <link href="{% static  "wdqms/ol3/ol.css" %}" rel="stylesheet">
  <link href="{% static "wdqms/obsmon.css" %}"  rel="stylesheet">
  <link href="{% static "wdqms/jquery-ui.min.css" %}"  rel="stylesheet">


  <style>
  #map {
    width: 950px;
    height: 600px;
  }

#legend span {
  margin:4px;
}

  #popup,#popuptemp {
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0px 0px 25px 5px #999;
	color: #111;
	display: none;
	min-width: 450px;
	padding: 25px;
  }

  .button.b-close, .button.bClose {
    border-radius: 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0px 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
  }

.button > span {
    font-size: 84%;
}

.button {
    background-color: #2B91AF;
    border-radius: 10px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: absolute;
	left: 500px;
	top: 300px;
	width:64px;
	height:64px;
	background: url({% static "wdqms/3.gif" %}) center no-repeat #fff;
}


  </style>
  </head>
  <body>

  <div id="wrapper">
	  <div id="first">
		<div  id="map"></div>
<div id="legend">
<span style="color:#009900">normal (>= 80%)</span>
<span style="color:#ff9900">availability isuses (>=30%)</span>
<span style="color:#ff3300">availability isuses (&lt;30%) </span>
<span style="color:#000000">did not report in period </span>
<span style="color:#e5e600">not in VolA </span>
<span style="color:#ff33cc">more than 100% </span>
</div>

	  </div>
	  <div id="second" style="padding:40px;" >
{% for station in stations %}
<div id="station{{forloop.counter}}" ></div>
{% endfor %}

	</div>

  </div>
<div >


</div>
  <script src="{% static "wdqms/ol3/ol.js" %}"></script>
  <script src="{% static "wdqms/jquery-3.1.0.min.js" %}"></script>
  <script src="{% static "wdqms/jquery.bpopup.min.js" %}"></script>	
  <script src="{% static "wdqms/jquery-ui.min.js" %}"></script>	
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

<!-- Additional files for the Highslide popup effect -->
  <script src="https://www.highcharts.com/samples/static/highslide-full.min.js"></script>
  <script src="https://www.highcharts.com/samples/static/highslide.config.js" charset="utf-8"></script>

  <script>


function updateMapLayer() {
			
	var date = new Date( $('#datepicker').val()  );
	var hour =  $('input[name="hourpicker"]:checked').val() ;
		
	year = 	date.getFullYear();
	month = date.getMonth()+1;
	day = date.getDate();

	synoptichour = 	parseInt(hour);

	center = $("#nwpcenter").val();
	filetype = $("#filetype").val();

	if (filetype == "SYNOP") {
		activelayer = obslayer;
		inactivelayer = sondelayer;
	} else if (filetype == "TEMP") {
		activelayer = sondelayer;
		inactivelayer = obslayer;
	}

	viewparam = 'year:' + year + ";month:"+month+";day:"+day+";hourperiod:"+synoptichour+";center:"+center ;

	console.log(viewparam);
		
	params = activelayer.getSource().getParams();
	params.VIEWPARAMS = viewparam;
	activelayer.setVisible(true);
	inactivelayer.setVisible(false);
		
	activelayer.getSource().changed();
	$("#spinner").show();

	activelayer.getSource().setAttributions([new ol.Attribution({
      		html: center + ":" + year + "/" + month + "/" + day + " " + synoptichour  + ":00-" + (synoptichour + 5) + ":59"
    	})]);
	console.log("done..");
}

var dateinfo;

function initCalendar() {


	paramdata = {} ;

	paramdata["center"] = $("#nwpcenter").val();
	paramdata["type"] = $("#filetype").val();

	$.getJSON( "./listimports-json", paramdata,  function( data ) {

		console.log(data);

		dateinfo = data ;

	        $( "#datepicker" ).datepicker({ 
			dateFormat: 'yy/mm/dd' ,
			defaultDate: dateinfo.maxdate,
			beforeShowDay: function(date){
	        		var string = jQuery.datepicker.formatDate('yy/mm/dd', date);
	        		return [ string in dateinfo.dates ]
	    		},
			onSelect: function(date,inst) {
	        		//var string = jQuery.datepicker.formatDate('yy/mm/dd', date);
				$("input[name='hourpicker']").prop('disabled','disabled');

				console.log(dateinfo.dates[date]);
				activehours = dateinfo.dates[date];
				for (var i=0 ; i < activehours.length ; i++ ) {
					$("input[name='hourpicker'][value='" + parseInt(activehours[i]) + "']").prop('disabled',false);
					
				}
			}
		});

		$("#datepicker").val(dateinfo.maxdate);
		$("input[name='hourpicker']").prop('disabled','disabled');
		for (var i=0; i<dateinfo.maxtimes.length ; i++) {
			$("input[name='hourpicker'][value='" + parseInt(dateinfo.maxtimes[i] ) + "']").prop('disabled',false);
		}
		$("input[name='hourpicker'][value='" + parseInt(dateinfo.maxtime) + "']").prop('checked','checked');

		updateMapLayer();

	});
}


$('select.mycontrol').on('change', function() {
	initCalendar();
	updateMapLayer();
});

</script>

  
  <script type="text/javascript">

center = 'ECMWF';
year=2018;
month=01;
viewparam = 'year:' + year + ";month:"+month+";center:"+center+";countrycode:{{ country.code }}" ;
var obslayer =  new ol.layer.Image({
        source: new ol.source.ImageWMS({
          ratio: 1,
          url: 'http://128.65.196.37:80/geoserver/wdqms/wms',
          params: {'FORMAT': 'image/png',
                   'VERSION': '1.1.1',  
                LAYERS: 'wdqms:by_country_month',
                STYLES: '',
		VIEWPARAMS: viewparam  // should return nothing.. we set the params when a date is selected
          }, 
	  imageLoadFunction: function(image, src) {
		var imageElement = image.getImage();
		imageElement.onload = function() {
		console.log("xx");
			$("#spinner").hide();
		};
		imageElement.src = src;
			
	 },
		  
		  
        }),
	visible: true,
      }) ;

var map = new ol.Map({
    target: 'map',
    layers: [
new ol.layer.Tile({
      source: new ol.source.XYZ({
        url: 'https://api.mapbox.com/styles/v1/kurt-hectic/cj488lfn91qxh2rrz0nghg0y3/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoia3VydC1oZWN0aWMiLCJhIjoiY2loNGtsNzc0MHpvdHgxbTBxejQzOGVpZiJ9.NiOdnMqDcZKeR6Oxo7tWmw'
      })
    }),
	obslayer	
    ],
    view: new ol.View({
      center: [-13657275.569447909, 5699392.057118396],
      zoom: 2
    }),
    controls: ol.control.defaults({
      attributionOptions: {
        collapsible: false
      }
    })
  });

obslayer.getSource().setAttributions([new ol.Attribution({
      html: "average monthly availability for Jan 2018 as per ECMWF"
})]);


var boundingExtent = ol.extent.boundingExtent( [[ {{country.bounding_box.minlat}},{{country.bounding_box.minlon}} ],[ {{country.bounding_box.maxlat}},{{country.bounding_box.maxlon}} ]]  );
boundingExtent = ol.proj.transformExtent(boundingExtent, ol.proj.get('EPSG:4326'), ol.proj.get('EPSG:3857'));
map.getView().fit(boundingExtent, map.getSize());


function loadChart(wigosid,divid,name) {
	jsonurl = '{% url 'nrreceived' 'XX' 110 %}?encoding=csv&sampling=month&callback=?' ;
	jsonurl = jsonurl.replace('XX',wigosid);	
  
	$.getJSON(jsonurl, function (data) {
   		$(divid).empty();

        var chart = $(divid).highcharts({
			chart : {
				zoomType: 'x',
				panning: true,
				panKey: 'shift'
			},
			data: {
                csv: data.data
            },
            title: { text: name , },
		  useHTML: true,
            xAxis: {
		type: 'datetime',
                tickInterval: 30 * 24 * 3600 * 1000, // one month
		dateTimeLabelFormats: {
        	    	month: '%b %y',
        	    	year: '%b %y',
        	},
                tickWidth: 0,
                gridLineWidth: 1,
                labels: {
                    align: 'left',
                    x: 3,
                    y: 40
                }
            },
            yAxis: [{ // left y axis
                title: {
                    text: null
                },
        type: 'logarithmic',
                labels: {
                    align: 'left',
                    x: 3,
                    y: 16,
                    format: '{value:.,0f}'
                },
                showFirstLabel: false
            }, ],
            legend: {
                align: 'left',
                verticalAlign: 'top',
                y: 60,
                floating: true,
                borderWidth: 0
            },
            tooltip: {
                shared: true,
                crosshairs: true
            },
            series: [{
                name: 'Expected',
		color: "blue",
		yAxis: 0
            }, {
                name: 'ECMWF',
		color: 'green',
		yAxis: 0
            },
			{
                name: 'JMA',
		color: "lawngreen",
		yAxis: 0
            },{
                name: 'NCEP',
		color: "olive",
		yAxis: 0
            }, {
		name: 'DWD',
		color: "orange",
		yAxis: 0
		}
			]
        });
	});
	return false;
};

function onMoveEnd(evt) {
	$("#spinner").show();
}

map.on('moveend', onMoveEnd);

obj = {};


setTimeout(function(){
	   window.location.reload(1);
}, 12*60*60*1000); //refresh every 12h

$( document ).ready(function() {
	$("#filetype").trigger('change');
	//loadChart('0-20000-0-63602','#station1','ARUA');
	{% for station in stations %}
		loadChart('{{station.wigosid}}','#station{{forloop.counter}}','{{station.name}}');
	{% endfor %}
});

</script>

  <div id="spinner"  class="se-pre-con"></div>

 </body>
</html>
