<html>
<head>
<title>WDQMS landing page</title>
</head>

<body>
<h1>Welcome to the WDQMS landing page</h1>

<p> You can find some interesting links here</p>

<ul>
<li>Overview of <a href="listimports.php">imported information</a> in the tool </li>
<li>Map showing <a href="map.php">data availability </a> by station </li>
<li>Monitoring <a href="country.php?cc=UGA">by country</a> (for selected countries) </li>
<li>Disk size <a href="listspace.php">of WDQMS server</a></li>



</ul>

</body>

</html>

