{% extends "wdqms-template.html" %}
{% block title %}WIGOS Data Quality Monitoring System - Landing Page{% endblock title %}

{% block body %}
<h1>Welcome to the WDQMS landing page</h1>

<p>The following information is currently available in the tool:</p>

<ul>
<li>Overview of <a href="{% url 'listimports' %}">imported information</a> in the tool </li>
<li>Map showing <a href="{% url 'map' %}">data availability</a> by station </li>
<li>Map showing <a href="{% url 'avsbmap' %}">difference between NWP centers</a> by station </li>
<li>Monitoring <a href="{% url 'country' %}">by country</a> (for selected countries) </li>
<li><a href="{% url 'dashboard' %}">Country dashboard</a> (for selected countries) </li>
<li>Disk size <a href="{% url 'listspace' %}">of WDQMS server</a></li>
</ul>

{% endblock body %}
